<!DOCTYPE html>
<html>
  <head>
    <title>IP info</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  </head>
  <body>

<section>

  <h2>
    YOUR IP </br>
    {{ public_ip }}
  </h2>

  <h1>
      <form action="/list" method="post">
      <br class="webflow-style-input">
        <input id="ipInput" class="ip_input" name="ipForm" placeholder="Type your ip" onkeyup="checkIp()"></input>
          </br>
        <button type="submit">SEARCH</button>
      </form>
  </h1>

  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Country</th>
          <th>Is tor node</th>
          <th>Hostname</th>
          <th>City/State</th>
          <th>Organization</th>
          <th>Postal Code</th>
          <th>Local Time</th>
          <th>ip range</th>
          <th>Contact</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody id="ipsTable">
        <tr>
          <td>
            {% if ip_info %}
              <img src="https://www.countryflags.io/{{ ip_info.geolocation.country }}/flat/32.png"></br>                
            {% endif %}
          </td>
          <td>
            {% if ip_info %}
              {% if ip_info.is_tor %}
                <img width="40" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_60,h_60/https://dashboard.snapcraft.io/site_media/appmedia/2016/03/icon.svg.png" alt="">
                </br>
              {% else %}
                No
              {% endif %}
            {% endif %}
          </td>
          {% if ip_info %}
          <td>{{ ip_info.geolocation.hostname }}</td>
          <td>
            City: {{ ip_info.geolocation.city }}
            State: {{ ip_info.geolocation.region }} </br>
          </td>
          <td>
            {{ ip_info.geolocation.org }} / </br>
            {{ ip_info.whois.OrgName }}
          </td>
          <td>{{ ip_info.geolocation.postal }}</td>
          <td>
            {% if ip_info.geolocation.timezone_formated %}
              {{ ip_info.geolocation.timezone_formated }}
            {% else %}
              {{ ip_info.geolocation.timezone }}
            {% endif %}
          </td>
          <td>{{ ip_info.whois.NetRange }}</td>
          <td>
            {% if ip_info.rdap.address %}
              Adress: {{ ip_info.rdap.address }}
            {% endif %}
            {% if ip_info.whois.Address %}
              Adress: {{ ip_info.whois.Address }}
            {% endif %}
            Phone: {{ ip_info.whois.OrgTechPhone }}
          </td>
          {% endif %}
        </tr>
  </tbody>
    </table>
  </div>
</section>

{% if ip_info %}
<div class="row">
  <div class="column">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ ip_info.geolocation.loc }}&zoom=10&scale=3&size=400x200&maptype=roadmap&key=AIzaSyAuh_NUZ70rVeATaye3-jG22Ou-dTwVOpY&format=png&visual_refresh=true">
  </div>
  <div class="column">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ ip_info.geolocation.loc }}&zoom=14&scale=3&size=400x200&maptype=roadmap&key=AIzaSyAuh_NUZ70rVeATaye3-jG22Ou-dTwVOpY&format=png&visual_refresh=true">
  </div>
  <div class="column">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ ip_info.geolocation.loc }}&zoom=17&scale=3&size=400x200&maptype=roadmap&key=AIzaSyAuh_NUZ70rVeATaye3-jG22Ou-dTwVOpY&format=png&visual_refresh=true">
  </div>
</div>
{% endif %}

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>