<!DOCTYPE html>
<html>
  <head>
    <title>IP info</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  </head>
  <body>

<section>

  <h1>{{ ip_info.ip }}</h1>
 
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
            <th>Country</th>
            <th>Hostname</th>
            <th>Is tor node</th>
            <th>City/State</th>
            <th>Organization</th>
            <th>Postal Code</th>
            <th>Local Time</th>
            <th>ip range</th>
            <th>Contact</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody id="ipsTable">
            <tr>
                <td>
                  {% if ip_info %}
                    <img src="https://www.countryflags.io/{{ ip_info.geolocation.country }}/flat/32.png"></br>                
                  {% endif %}
                </td>
                <td>
                  {% if ip_info %}
                    {% if ip_info.is_tor %}
                      <img width="40" src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_60,h_60/https://dashboard.snapcraft.io/site_media/appmedia/2016/03/icon.svg.png" alt="">
                      </br>
                    {% else %}
                      No
                    {% endif %}
                  {% endif %}
                </td>
                {% if ip_info %}
                  <td>{{ ip_info.geolocation.city }}</br>{{ ip_info.geolocation.region }} </br></td>
                  <td>{{ ip_info.geolocation.hostname }}</td>
                  <td>{{ ip_info.geolocation.org }}</td>
                  <td>{{ ip_info.geolocation.postal }}</td>
                  <td>{{ ip_info.geolocation.timezone_formated }}</td>
                  <td>{{ ip_info.whois.NetRange }}</td>
                  <td>
                    {{ ip_info.rdap.address }}
                    {{ ip_info.whois.OrgTechPhone }}
                    {{ ip_info.whois.Address }}
                  </td>
                {% endif %}
              </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- <h2>
  {% for key in ip_info.whois %}
    <p>{{ key }}: {{ ip_info.whois[key] }}</p>
  {% endfor %}
</h2> -->

{% if ip_info %}
<div class="row">
  <div class="column">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ ip_info.geolocation.loc }}&zoom=10&scale=3&size=400x200&maptype=roadmap&key=AIzaSyAuh_NUZ70rVeATaye3-jG22Ou-dTwVOpY&format=png&visual_refresh=true">
  </div>
  <div class="column">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ ip_info.geolocation.loc }}&zoom=14&scale=3&size=400x200&maptype=roadmap&key=AIzaSyAuh_NUZ70rVeATaye3-jG22Ou-dTwVOpY&format=png&visual_refresh=true">
  </div>
  <div class="column">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ ip_info.geolocation.loc }}&zoom=17&scale=3&size=400x200&maptype=roadmap&key=AIzaSyAuh_NUZ70rVeATaye3-jG22Ou-dTwVOpY&format=png&visual_refresh=true">
  </div>
</div>
{% endif %}

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>